@media (max-width: 1024px) {
  main .post-and-aside-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
  main .aside__wrapper {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 806px) {
  /* overlay menu*/
  .menu-icon {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 8px;
    right: 16px;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;
    background: #fb7c56;
    /* Transform menu icon into close icon */
  }
  .menu-icon__wrapper {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu-icon__top, .menu-icon__middle, .menu-icon__bottom {
    width: 100%;
    height: 4px;
    background: #ffffff;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu-icon__middle {
    margin: 4px 0;
  }
  .menu-icon__top.active {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
            transform: translateY(8px) translateX(0) rotate(45deg);
  }
  .menu-icon__middle.active {
    opacity: 0;
  }
  .menu-icon__bottom.active {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
            transform: translateY(-8px) translateX(0) rotate(-45deg);
  }
  header {
    position: relative;
  }
  header .navigation__row {
    background-color: #ffffff;
    height: 64px;
    -webkit-box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
  }
  header .navigation__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #ffffff;
    margin: 0;
    height: 64px;
  }
  header .navigation__menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  header .navigation__menu-item {
    width: 100%;
  }
  header .navigation__menu-link {
    color: #252525;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    opacity: 0;
  }
  header .navigation__menu-link.active {
    opacity: 1;
  }
  header .navigation__social {
    display: none;
  }
  header .logo-block {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 9999;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 141px;
    left: 8px;
    top: 4px;
  }
  header .logo-block__img {
    background: url("../img/zero-logo-black.png") center center/cover no-repeat;
  }
  header .logo-block.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .clothing-collection__row {
    margin-top: 64px;
  }
  main .contacts__title-wrapper {
    height: 98px;
    margin-bottom: 16px;
  }
  main .contacts__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 16px;
  }
  main .contacts__top-item {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .contacts__top-text-contain {
    height: auto;
    padding: 0;
    margin-left: 30vw;
  }
  main .contacts__map {
    padding: 8px;
    margin-bottom: 16px;
  }
  main .contacts__message {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
  }
  main .contacts form textarea {
    margin-left: 8px;
  }
  main .about-me__title-wrapper {
    height: 98px;
    margin-bottom: 16px;
  }
  main .about-me__wrapper {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 450px) {
  main .single-post__img {
    height: 240px;
    margin-bottom: 16px;
  }
  main .single-post__cat-date-wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12px;
  }
  main .single-post__text-intrest {
    padding: 8px;
    padding-left: 40px;
  }
  main .single-post__text-intrest::before {
    top: 16px;
    left: 8px;
  }
  main .contacts__top-text-contain {
    height: auto;
    padding: 0;
    margin-left: 10vw;
  }
}
