@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Oswald;
  background-color: #f2f2f2;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 3px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fb7c56;
  }
}

@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 3px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fb7c56;
  }
}

header .navigation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252525;
  height: 60px;
  padding-left: 24px;
  padding-right: 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
}

header .navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-left: 80px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .navigation__menu-item {
  display: inline-block;
}

header .navigation__menu-item.active {
  background-color: #818181;
}

header .navigation__menu-link {
  display: block;
  color: #ffffff;
  font-size: 18px;
  padding: 16px;
  padding-top: 17px;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

header .navigation__menu-link::after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #fb7c56;
  height: 2px;
  content: "";
  margin: 0;
  opacity: 0;
}

header .navigation__menu-link:hover {
  color: #ffffff;
  z-index: 1;
}

header .navigation__menu-link:hover::after {
  z-index: -10;
  -webkit-animation: fill 1s forwards;
          animation: fill 1s forwards;
  opacity: 1;
}

header .navigation__menu-link:active {
  color: #252525;
}

header .navigation__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation__social-link {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: #fb7c56;
  background-color: #ffffff !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .navigation__social-link svg {
  margin: 6px 0 0 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .navigation__social-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 1px #818181;
          box-shadow: 0px 0px 10px 1px #818181;
  background-color: #fb7c56 !important;
}

header .navigation__social-link:hover svg {
  fill: #ffffff;
}

header .navigation__social-link:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 5px 1px #818181;
          box-shadow: 0px 0px 5px 1px #818181;
}

header .navigation__social-link:nth-child(1) {
  margin-right: 16px;
}

header .navigation__social-link:nth-child(2) {
  margin-right: 16px;
}

header .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-block__img {
  width: 117px;
  height: 50px;
  background: url("../img/zero-logo.png") center center/cover no-repeat;
}

main .clothing-collection__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

main .clothing-collection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 550px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #ffffff;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

main .clothing-collection__item:hover {
  background-color: #fb7c56;
}

main .clothing-collection__item:hover .clothing-collection__description {
  color: #ffffff;
}

main .clothing-collection__item:hover .clothing-collection__br {
  background-color: #ffffff;
}

main .clothing-collection__item:hover .clothing-collection__title {
  color: #ffffff;
}

main .clothing-collection__item:hover .clothing-collection__title::before {
  background-color: #fb7c56;
}

main .clothing-collection__item:active .clothing-collection__description {
  color: #252525;
}

main .clothing-collection__item:active .clothing-collection__br {
  background-color: #252525;
}

main .clothing-collection__item:active .clothing-collection__title {
  color: #252525;
}

main .clothing-collection__img-1 {
  background: url("../img/clothing-collection/clothing-coll-pic-1.jpg") center top/cover no-repeat;
}

main .clothing-collection__img-2 {
  background: url("../img/clothing-collection/clothing-coll-pic-2.jpg") center center/cover no-repeat;
}

main .clothing-collection__img-3 {
  background: url("../img/clothing-collection/clothing-coll-pic-3.jpg") center center/cover no-repeat;
}

main .clothing-collection__img-4 {
  background: url("../img/clothing-collection/clothing-coll-pic-4.jpg") center center/cover no-repeat;
}

main .clothing-collection__img {
  height: 100%;
  width: 100%;
  margin-bottom: 28px;
}

main .clothing-collection__title {
  font-family: Oswald;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #252525;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}

main .clothing-collection__title::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: calc(50% - 7.5px);
  top: -35.5px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

main .clothing-collection__br {
  width: 120px;
  height: 1px;
  background-color: #fb7c56;
  margin-bottom: 28px;
}

main .clothing-collection__description {
  margin-bottom: 28px;
  font-family: Lora;
  font-size: 14px;
  font-style: italic;
  line-height: 1;
  color: #252525;
}

main .post-and-aside-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

main .posts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .posts__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

main .posts__nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .posts__nav a.disabled {
  pointer-events: none;
}

main .posts__nav .left-link {
  font-family: Lora;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.6px;
  line-height: 1;
  color: #252525;
}

main .posts__nav .left-arrow {
  height: 8px;
  width: 8px;
  margin-right: 4px;
  margin-top: 2px;
  background: url("../img/posts/left-arrow.png") center center/cover no-repeat;
}

main .posts__nav .right-link {
  font-family: Lora;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.6px;
  line-height: 1;
  color: #fb7c56;
  padding: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main .posts__nav .right-link:hover {
  text-decoration: underline;
}

main .posts__nav .right-link:active {
  color: #a3533b;
}

main .posts__nav .right-arrow {
  height: 8px;
  width: 8px;
  margin-left: 4px;
  margin-top: 2px;
  background: url("../img/posts/right-arrow.png") center center/cover no-repeat;
}

main .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  height: 876px;
  max-width: 1000px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 24px;
}

main .post:nth-child(1) .post__img-link {
  background: url("../img/posts/1.jpg") center center/cover no-repeat;
}

main .post:nth-child(2) .post__img-link {
  background: url("../img/posts/2.jpg") center center/cover no-repeat;
}

main .post:nth-child(3) .post__img-link {
  background: url("../img/posts/3.jpg") center center/cover no-repeat;
}

main .post:nth-child(4) .post__img-link {
  background: url("../img/posts/4.jpg") center center/cover no-repeat;
}

main .post:nth-child(5) .post__img-link {
  background: url("../img/posts/5.jpg") center center/cover no-repeat;
}

main .post__img-wrapper {
  margin-bottom: 8px;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
}

main .post__text-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

main .post__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
  line-height: 1.5;
}

main .post__img-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

main .post__link {
  display: block;
  height: 100%;
  width: 100%;
  color: #252525;
}

main .post__link:hover {
  color: #fb7c56;
}

main .post__link:hover:active {
  color: #a3533b;
}

main .post__category {
  font-family: Lora;
  font-size: 14px;
  font-style: italic;
  color: #818181;
  margin-bottom: 18px;
}

main .post__category a {
  color: #fb7c56;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 2px;
}

main .post__category a:hover {
  text-decoration: underline;
}

main .post__category a:active {
  color: #a3533b;
}

main .post__date {
  font-family: Lora;
  font-style: italic;
  color: #818181;
  margin-bottom: 16px;
}

main .post__date div {
  display: inline-block;
  white-space: pre-wrap;
  vertical-align: middle;
}

main .post__date .orange-color {
  color: #fb7c56;
}

main .post__autor-img {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: url("../img/posts/autor-img.png") center center/cover no-repeat;
}

main .post__text {
  font-family: Lora;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.35px;
  color: #252525;
  margin-bottom: 16px;
}

main .post__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px dashed #818181;
  width: 100%;
  padding: 16px;
}

main .post__social-link {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: #fb7c56;
  background-color: #ffffff !important;
  border: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 8px;
}

main .post__social-link svg {
  margin: 5px 0 0 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .post__social-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 1px #818181;
          box-shadow: 0px 0px 10px 1px #818181;
  background-color: #fb7c56 !important;
}

main .post__social-link:hover svg {
  fill: #ffffff;
}

main .post__social-link:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 5px 1px #818181;
          box-shadow: 0px 0px 5px 1px #818181;
}

main .post__social-link:last-child {
  margin-right: 0;
}

main .single-post {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main .single-post__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  max-width: 770px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 24px;
}

main .single-post__img-wrapper {
  width: 100%;
  height: 504px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

main .single-post__img {
  width: 100%;
  height: 100%;
  background: url("../img/posts/1.jpg") center center/cover no-repeat;
}

main .single-post__text-wrapper {
  padding-left: 16px;
  padding-right: 16px;
}

main .single-post__text-wrapper h2 {
  font-size: 18px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 16px;
}

main .single-post__title {
  font-size: 24px;
  font-weight: 600;
  color: #252525;
  text-align: center;
  margin-bottom: 16px;
}

main .single-post__cat-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  line-height: 2.5;
  margin-bottom: 16px;
}

main .single-post__category {
  font-family: Lora;
  font-style: italic;
  color: #fb7c56;
  height: 36px;
  padding-right: 16px;
}

main .single-post__category a {
  padding-left: 4px;
  color: #818181;
}

main .single-post__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lora;
  font-style: italic;
  color: #818181;
}

main .single-post__date div {
  padding-left: 4px;
  padding-right: 4px;
}

main .single-post__date .orange-color {
  color: #fb7c56;
}

main .single-post__autor-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: url("../img/posts/autor-img.png") center center/cover no-repeat;
}

main .single-post__text {
  font-family: Lora;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.35px;
  color: #252525;
  margin-bottom: 16px;
}

main .single-post__text-intrest {
  font-family: Lora;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  color: #252525;
  background-color: #f2f2f2;
  padding: 28px;
  padding-left: 60px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  position: relative;
}

main .single-post__text-intrest::before {
  position: absolute;
  top: 40px;
  left: 28px;
  content: "";
  width: 24px;
  height: 5px;
  background-color: #fb7c56;
}

main .single-post .post__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px dashed #818181;
  width: 100%;
  padding: 16px;
}

main .single-post .post__social-link {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: #fb7c56;
  background-color: #ffffff !important;
  border: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 8px;
}

main .single-post .post__social-link svg {
  margin: 5px 0 0 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .single-post .post__social-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 1px #818181;
          box-shadow: 0px 0px 10px 1px #818181;
  background-color: #fb7c56 !important;
}

main .single-post .post__social-link:hover svg {
  fill: #ffffff;
}

main .single-post .post__social-link:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 5px 1px #818181;
          box-shadow: 0px 0px 5px 1px #818181;
}

main .single-post .post__social-link:last-child {
  margin-right: 0;
}

main .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

main .about-me__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 240px;
  background: url("../img/about/top-img.png") center center/cover no-repeat;
}

main .about-me__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #252525;
  text-transform: uppercase;
  border-bottom: 4px solid #fb7c56;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

main .about-me__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1024px;
  background-color: #ffffff;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

main .about-me__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/about/img@2x.jpg") center center/cover no-repeat;
  width: 100%;
  height: 504px;
  margin-top: 16px;
  margin-bottom: 16px;
}

main .about-me__photo {
  background: url("../img/about/layer-254@2x.jpg") center center/cover no-repeat;
  width: 216px;
  height: 216px;
  border-radius: 50%;
  border: solid 3px #fb7c56;
}

main .about-me__name {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-family: Oswald;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.35px;
  color: #252525;
  text-transform: uppercase;
  padding: 0 12px 4px;
  border-bottom: 4px solid #252525;
}

main .about-me__text {
  font-family: Lora;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  color: #252525;
  margin-top: 16px;
  margin-bottom: 16px;
}

main .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contacts__title-wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 240px;
  margin-bottom: 32px;
  background: url("../img/about/top-img.png") center center/cover no-repeat;
}

main .contacts__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #252525;
  text-transform: uppercase;
  border-bottom: 4px solid #fb7c56;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

main .contacts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin-bottom: 24px;
  background-color: #ffffff;
  width: 1024px;
}

main .contacts__top-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3%;
          flex: 1 1 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 32px;
}

main .contacts__top-item:nth-child(1) {
  border-right: 2px solid #f2f2f2;
}

main .contacts__top-item:nth-child(1) .contacts__top-ico {
  height: 28px;
  width: 28px;
  background: url("../img/home.png") center center/cover no-repeat;
}

main .contacts__top-item:nth-child(2) {
  border-right: 2px solid #f2f2f2;
}

main .contacts__top-item:nth-child(2) .contacts__top-ico {
  height: 28px;
  width: 28px;
  background: url("../img/phone.png") center center/cover no-repeat;
}

main .contacts__top-item:nth-child(3) .contacts__top-ico {
  height: 18px;
  width: 28px;
  background: url("../img/mail.png") center center/cover no-repeat;
}

main .contacts__top-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 24px;
}

main .contacts__top-title {
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.35px;
  font-size: 16px;
  text-align: center;
  color: #252525;
  text-transform: uppercase;
  border-bottom: 4px solid #fb7c56;
  padding-top: 32px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

main .contacts__top-text-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
}

main .contacts__top-ico-contain {
  width: 96px;
  height: 96px;
  background-color: #fb7c56;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contacts__top-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #252525;
  position: relative;
}

main .contacts__top-text a {
  color: #252525;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main .contacts__top-text a:hover {
  color: #fb7c56;
}

main .contacts__top-text a:active {
  color: #818181;
}

main .contacts__map {
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

main .contacts__map iframe {
  width: 992px;
  height: 480px;
}

main .contacts__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 1024px;
  padding-left: 16px;
  padding-right: 16px;
}

main .contacts__message-title {
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.35px;
  font-size: 16px;
  text-align: center;
  color: #252525;
  text-transform: uppercase;
  border-bottom: 4px solid #fb7c56;
  padding: 16px 8px 4px 8px;
  margin-bottom: 16px;
}

main .contacts__message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

main .contacts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lora;
  width: 100%;
}

main .contacts form input[type="text"] {
  display: inline-block;
  border: 2px solid #f2f2f2;
  width: 100%;
  margin-bottom: 24px;
  padding: 12px;
  text-transform: capitalize;
}

main .contacts form input[type="text"]:placeholder {
  color: #f2f2f2;
}

main .contacts form input[type="text"]:focus {
  border: solid 2px #818181;
}

main .contacts form input[type="email"] {
  display: inline-block;
  border: 2px solid #f2f2f2;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 24px;
  padding: 12px;
}

main .contacts form input[type="email"]:placeholder {
  color: #f2f2f2;
}

main .contacts form input[type="email"]:focus {
  border: solid 2px #818181;
}

main .contacts form button {
  display: inline-block;
  border-radius: 3px;
  background-color: #fb7c56;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Lora;
  font-weight: bold;
  letter-spacing: 0.7px;
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
}

main .contacts form button:hover {
  background-color: #dd6d4b;
}

main .contacts form button:active {
  background-color: #a3533b;
}

main .contacts form textarea {
  border: 2px solid #f2f2f2;
  width: 50%;
  height: 178px;
  margin-bottom: 16px;
  padding: 12px;
  resize: none;
  margin-left: 16px;
}

main .contacts form textarea:placeholder {
  color: #f2f2f2;
}

main .contacts form textarea:focus {
  border: solid 2px #818181;
}

main .aside__wrapper {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 16px;
  width: 370px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

main .aside__about {
  margin-bottom: 16px;
}

main .aside__subscribe {
  margin-bottom: 16px;
}

main .aside__popular {
  margin-bottom: 16px;
}

main .aside__category {
  margin-bottom: 16px;
}

main .about {
  background-color: #ffffff;
  padding: 16px;
}

main .about__title {
  display: inline-block;
  font-family: Oswald;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.35px;
  color: #252525;
  text-transform: uppercase;
  padding: 0 12px 4px 12px;
  margin-bottom: 16px;
  border-bottom: 4px solid #252525;
}

main .about__img {
  width: 100%;
  height: 240px;
  margin-bottom: 16px;
  background: url("../img/footer/4.jpg") center center/cover no-repeat;
}

main .about__text {
  font-size: 14px;
  font-family: Lora;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.35px;
  color: #252525;
}

main .subscribe {
  background-color: #fb7c56;
  padding: 16px;
}

main .subscribe__title {
  display: inline-block;
  font-family: Oswald;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.35px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 12px 4px 12px;
  margin-bottom: 16px;
  border-bottom: 4px solid #ffffff;
}

main .subscribe__text {
  font-size: 14px;
  font-family: Lora;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}

main .subscribe__email {
  display: block;
  width: 100%;
  border: solid 2px #f2f2f2;
  background-color: #ffffff;
  color: #252525;
  font-family: Lora;
  font-size: 14px;
  text-align: left;
  padding: 16px 12px;
  margin-bottom: 16px;
}

main .subscribe__email:placeholder {
  color: #f2f2f2;
}

main .subscribe__email:focus {
  border: solid 2px #818181;
}

main .subscribe__button {
  display: block;
  width: 100%;
  background-color: #252525;
  font-family: Lora;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #ffffff;
  padding: 16px 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .subscribe__button:hover {
  background-color: #ffffff;
  color: #fb7c56;
}

main .subscribe__button:active {
  color: #252525;
}

main .subscribe__button:focus {
  border: solid 2px #818181;
}

main .popular {
  background-color: #ffffff;
  padding: 16px 16px 0 16px;
}

main .popular__title {
  display: inline-block;
  font-family: Oswald;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.35px;
  color: #252525;
  text-transform: uppercase;
  padding: 0 12px 4px 12px;
  margin-bottom: 16px;
  border-bottom: 4px solid #252525;
}

main .popular__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

main .popular__item:hover .popular__item-title a {
  color: #fb7c56;
}

main .popular__item:hover .popular__item-title a:active {
  color: #252525;
}

main .popular__item:hover .popular__item-img {
  -webkit-box-shadow: 0px 0px 5px 1px #fb7c56;
          box-shadow: 0px 0px 5px 1px #fb7c56;
}

main .popular__item:hover .popular__item-img:active {
  -webkit-box-shadow: 0px 0px 5px 1px #252525;
          box-shadow: 0px 0px 5px 1px #252525;
}

main .popular__item:nth-child(1) .popular__item-img {
  background: url("../img/posts/3.jpg") center center/cover no-repeat;
}

main .popular__item:nth-child(2) .popular__item-img {
  background: url("../img/posts/4.jpg") center center/cover no-repeat;
}

main .popular__item:nth-child(3) .popular__item-img {
  background: url("../img/posts/5.jpg") center center/cover no-repeat;
}

main .popular__item-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 144px;
          flex: 1 1 144px;
  height: 111px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main .popular__item-text-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-left: 16px;
}

main .popular__item-title {
  font-family: Oswald;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 16px;
}

main .popular__item-title a {
  color: #252525;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main .popular__item-title a:active {
  color: #252525;
}

main .popular__item-date {
  font-family: Lora;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  color: #818181;
}

main .popular__item-date span {
  color: #fb7c56;
}

main .category {
  background-color: #ffffff;
  padding: 16px 16px 0 16px;
  width: 100%;
}

main .category__title {
  display: inline-block;
  font-family: Oswald;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.35px;
  color: #252525;
  text-transform: uppercase;
  padding: 0 12px 4px 12px;
  margin-bottom: 16px;
  border-bottom: 4px solid #252525;
}

main .category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

main .category__arrow {
  background: url("../img/posts/left-arrow.png") center center/cover no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 8px;
  height: 8px;
  margin-right: 12px;
}

main .category__link {
  font-family: Lora;
  font-size: 14px;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.35px;
  color: #fb7c56;
  padding: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main .category__link:hover {
  text-decoration: underline;
}

main .category__link:active {
  color: #a3533b;
}

footer {
  margin-top: 24px;
  background-color: #ffffff;
}

footer .follow-instagram {
  padding: 16px 16px 0 16px;
}

footer .follow-instagram__title {
  font-family: Oswald;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

footer .follow-instagram__title a {
  color: #fb7c56;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 2px;
}

footer .follow-instagram__title a:hover {
  text-decoration: underline;
}

footer .follow-instagram__title a:active {
  color: #a3533b;
}

footer .follow-instagram__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .follow-instagram__row a {
  display: block;
  overflow: hidden;
  -webkit-transition: 0.75s all;
  transition: 0.75s all;
}

footer .follow-instagram__row .owl-dots .owl-dot.active span {
  background: #fb7c56;
}

footer .follow-instagram__img {
  max-width: 280px;
  height: 280px;
  -webkit-transition: 0.75s all;
  transition: 0.75s all;
  margin: 0 auto;
}

footer .follow-instagram__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .follow-instagram__img:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer .follow-instagram__img-1 {
  background: url("../img/footer/1.jpg") center top/cover no-repeat;
}

footer .follow-instagram__img-2 {
  background: url("../img/footer/2.jpg") center top/cover no-repeat;
}

footer .follow-instagram__img-3 {
  background: url("../img/footer/3.jpg") center top/cover no-repeat;
}

footer .follow-instagram__img-4 {
  background: url("../img/footer/4.jpg") center top/cover no-repeat;
}

footer .follow-instagram__img-5 {
  background: url("../img/footer/5.jpg") center top/cover no-repeat;
}

footer .follow-instagram__img-6 {
  background: url("../img/footer/6.jpg") center top/cover no-repeat;
}

footer .socials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

footer .socials__link {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: #fb7c56;
  background-color: #ffffff !important;
  border: 1px solid #f2f2f2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-right: 8px;
}

footer .socials__link svg {
  margin: 5px 0 0 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .socials__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 1px #818181;
          box-shadow: 0px 0px 10px 1px #818181;
  background-color: #fb7c56 !important;
}

footer .socials__link:hover svg {
  fill: #ffffff;
}

footer .socials__link:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 5px 1px #818181;
          box-shadow: 0px 0px 5px 1px #818181;
}

footer .socials__link:last-child {
  margin-right: 0;
}

footer .copiright {
  text-align: center;
  font-family: Oswald;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px;
}

footer .copiright span {
  color: #252525;
}

footer .copiright a {
  color: #fb7c56;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 2px;
}

footer .copiright a:hover {
  text-decoration: underline;
}

footer .copiright a:active {
  color: #a3533b;
}

footer .arrow {
  width: 48px;
  height: 48px;
  position: fixed;
  right: 16px;
  bottom: 48px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  background: #ffffff;
  z-index: 99999;
  border: solid 2px #f2f2f2;
}

footer .arrow svg {
  position: relative;
  top: 16px;
  left: 12px;
}

footer .arrow:hover {
  -webkit-box-shadow: 0px 6px 25px #818181;
          box-shadow: 0px 6px 25px #818181;
}

footer .arrow:active {
  -webkit-box-shadow: 0px 1px 4px #818181;
          box-shadow: 0px 1px 4px #818181;
}

@media (max-width: 1024px) {
  main .post-and-aside-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
  main .aside__wrapper {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  main .category {
    display: none;
  }
  main .about {
    width: 100%;
  }
  main .about__text::after {
    content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat modi laudantium aut! Eum, accusantium.";
  }
  main .popular {
    width: 100%;
  }
  main .popular__item-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  main .popular__item:nth-child(2) .popular__item-img {
    background: url("../img/posts/4.jpg") center top/cover no-repeat;
  }
  main .subscribe {
    width: 100%;
  }
  main .contacts__top {
    width: 100%;
  }
  main .contacts__map {
    width: 100%;
    height: 480px;
  }
  main .contacts__map iframe {
    width: 100%;
    height: auto;
  }
  main .contacts__message {
    width: 100%;
  }
}

@media (max-width: 806px) {
  /* overlay menu*/
  .menu-icon {
    width: 48px;
    height: 48px;
    position: fixed;
    top: 8px;
    right: 16px;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;
    background: #fb7c56;
    /* Transform menu icon into close icon */
  }
  .menu-icon__wrapper {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .menu-icon__top, .menu-icon__middle, .menu-icon__bottom {
    width: 100%;
    height: 4px;
    background: #ffffff;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .menu-icon__middle {
    margin: 4px 0;
  }
  .menu-icon__top.active {
    -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
            transform: translateY(8px) translateX(0) rotate(45deg);
  }
  .menu-icon__middle.active {
    opacity: 0;
  }
  .menu-icon__bottom.active {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
            transform: translateY(-8px) translateX(0) rotate(-45deg);
  }
  header {
    position: relative;
  }
  header .navigation__row {
    background-color: #ffffff;
    height: 64px;
    -webkit-box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
  }
  header .navigation__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #ffffff;
    margin: 0;
    height: 64px;
  }
  header .navigation__menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  header .navigation__menu-item {
    width: 100%;
  }
  header .navigation__menu-link {
    color: #252525;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    opacity: 0;
  }
  header .navigation__menu-link.active {
    opacity: 1;
  }
  header .navigation__social {
    display: none;
  }
  header .logo-block {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 9999;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 141px;
    left: 8px;
    top: 4px;
  }
  header .logo-block__img {
    background: url("../img/zero-logo-black.png") center center/cover no-repeat;
  }
  header .logo-block.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .clothing-collection__row {
    margin-top: 64px;
  }
  main .contacts__title-wrapper {
    height: 98px;
    margin-bottom: 16px;
  }
  main .contacts__top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .contacts__top-text-contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  main .contacts__top-text {
    width: 100%;
    text-align: center;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  main .contacts__top-ico-contain {
    margin-bottom: 16px;
  }
  main .contacts__map {
    padding: 8px;
    margin-bottom: 16px;
  }
  main .contacts__message {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 16px;
  }
  main .contacts form textarea {
    margin-left: 8px;
  }
  main .about-me__title-wrapper {
    height: 98px;
    margin-bottom: 16px;
  }
  main .about-me__wrapper {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

@media (max-width: 550px) {
  main .single-post__img {
    height: 240px;
    margin-bottom: 16px;
  }
  main .single-post__cat-date-wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12px;
  }
  main .single-post__text-intrest {
    padding: 8px;
    padding-left: 40px;
  }
  main .single-post__text-intrest::before {
    top: 16px;
    left: 8px;
  }
  main .contacts__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .contacts__top-item {
    width: 100%;
  }
  main .contacts__top-text-contain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    padding: 0;
    margin: 0 auto;
  }
  main .contacts__top-ico-contain {
    width: 96px;
    height: 62px;
    margin: 0;
    margin-right: 16px;
  }
  main .contacts__message {
    padding-bottom: 4px;
  }
  main .contacts form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .contacts form .contacts__message-form {
    width: 100%;
    margin-bottom: 16px;
  }
  main .contacts form input[type="text"] {
    width: 100%;
    margin-bottom: 16px;
  }
  main .contacts form input[type="email"] {
    width: 100%;
    margin-bottom: 16px;
  }
  main .contacts form button {
    width: 100%;
    margin-bottom: 16px;
    -webkit-transform: translateY(196px);
            transform: translateY(196px);
  }
  main .contacts form textarea {
    width: 100%;
    margin: 0;
    -webkit-transform: translateY(-72px);
            transform: translateY(-72px);
  }
}
