<aside class="aside__wrapper">

   <section class="aside__about about">
      <div class="about__title accordion-button" aria-expanded="false">
         <span>About me</span>
         <span class="icon" aria-hidden="true"></span>
      </div>
      <div class="about__content">
         <div class="about__img"></div>
         <div class="about__text">Lorem Ipsum passage, and going through the cites of the word in
            classical literature, discovered the undoubtable source</div>
      </div>
   </section>

   <section class="aside__subscribe subscribe">
      <div class="subscribe__title accordion-button" aria-expanded="false">
         <span>Subscribe</span>
         <span class="icon" aria-hidden="true"></span>
      </div>
      <div class="subscribe__content">
         <div class="subscribe__text">Subscribe to Our newsletter for free Update
            every week</div>
         <form action="" class="subscribe__form">
            <input class="subscribe__email" type="email" placeholder="Your Email">
            <button class="subscribe__button">SUBMIT</button>
         </form>
      </div>
   </section>

   <section class="aside__popular popular">
      <div class="popular__title accordion-button" aria-expanded="false">
         <span>Popular Post</span>
         <span class="icon" aria-hidden="true"></span>
      </div>
      <div class="popular__content">
         <div class="popular__item">
            <a class="popular__item-img" href=""></a>
            <div class="popular__item-text-wrapper">
               <div class="popular__item-title"><a href="">Being Atraveler in The World, Just Like A lion
                     Without Beard</a>
               </div>
               <div class="popular__item-date"><span>Posted on</span> August 17, 2017</div>
            </div>
         </div>
         <div class="popular__item">
            <a class="popular__item-img" href=""></a>
            <div class="popular__item-text-wrapper">
               <div class="popular__item-title"><a href="">Being Atraveler in The World, Just Like A lion
                     Without Beard</a>
               </div>
               <div class="popular__item-date"><span>Posted on</span> August 17, 2017</div>
            </div>
         </div>
         <div class="popular__item">
            <a class="popular__item-img" href=""></a>
            <div class="popular__item-text-wrapper">
               <div class="popular__item-title"><a href="">Being Atraveler in The World, Just Like A lion
                     Without Beard</a>
               </div>
               <div class="popular__item-date"><span>Posted on</span> August 17, 2017</div>
            </div>
         </div>
      </div>
   </section>

   <section class="aside__category category">
      <div class="category__title accordion-button" aria-expanded="false">
         <span>Category</span>
         <span class="icon" aria-hidden="true"></span>
      </div>
      <div class="category__content">
         <div class="category__item">
            <div class="category__arrow"></div>
            <a class="category__link" href="">Travel</a>
         </div>
         <div class="category__item">
            <div class="category__arrow"></div>
            <a class="category__link" href="">City</a>
         </div>
         <div class="category__item">
            <div class="category__arrow"></div>
            <a class="category__link" href="">Сommunication</a>
         </div>
         <div class="category__item">
            <div class="category__arrow"></div>
            <a class="category__link" href="">Local Food</a>
         </div>
         <div class="category__item">
            <div class="category__arrow"></div>
            <a class="category__link" href="">Sun Rise</a>
         </div>
         <div class="category__item">
            <div class="category__arrow"></div>
            <a class="category__link" href="">Night Fall</a>
         </div>
      </div>
   </section>
</aside>