<footer>
   <div class="follow-instagram">
      <div class="follow-instagram__title">Follow My instgram <a href="">@my Instagram</a></div>
      <div class="follow-instagram__row owl-carousel owl-theme" id="footer-slider">
         <a href="">
            <div class="follow-instagram__img follow-instagram__img-1"></div>
         </a>
         <a href="">
            <div class="follow-instagram__img follow-instagram__img-2"></div>
         </a>
         <a href="">
            <div class="follow-instagram__img follow-instagram__img-3"></div>
         </a>
         <a href="">
            <div class="follow-instagram__img follow-instagram__img-4"></div>
         </a>
         <a href="">
            <div class="follow-instagram__img follow-instagram__img-5"></div>
         </a>
         <a href="">
            <div class="follow-instagram__img follow-instagram__img-6"></div>
         </a>
      </div>
   </div>
   <div class="socials">
      <div class="socials__row">
         <a class="socials__link" href=""></a>
         <a class="socials__link" href=""></a>
         <a class="socials__link" href=""></a>
         <a class="socials__link" href=""></a>
         <a class="socials__link" href=""></a>
      </div>
   </div>
   <div class="copiright">
      <span>zero km copyright © 2018 -</span>
      <a href="">https://www.behance.net/dwi_mbojowae</a>
   </div>
   <div class="arrow" id="arrowTop" hidden>
      <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path
            d="M21.22 10.61L10.61 -4.63778e-07L1.44357e-06 10.61L2.6288 13.2388L10.61 5.25759L18.5912 13.2388L21.22 10.61Z"
            fill="#445154" />
      </svg>
</footer>