<header>
   <nav class="navigation">
      <div class="navigation__row">
         <ul class="navigation__menu" id="topNavigation">
            <li class="navigation__menu-item"><a class="navigation__menu-link" href="/index.html">home page</a>
            </li>
            <li class="navigation__menu-item"><a class="navigation__menu-link" href="/single-post.html">single post</a>
            </li>
            <li class="navigation__menu-item"><a class="navigation__menu-link" href="/contact-us.html">contact</a></li>
            <li class="navigation__menu-item"><a class="navigation__menu-link" href="/about-me.html">about us</a></li>
         </ul>
         <div class="navigation__social">
            <a class="navigation__social-link" href=""></a>
            <a class="navigation__social-link" href=""></a>
            <a class="navigation__social-link" href=""></a>
         </div>
      </div>
   </nav>
   <div class="menu-icon" onclick="openNav()">
      <div class="menu-icon__wrapper">
         <div class="menu-icon__top" id="menu-icon__top"></div>
         <div class="menu-icon__middle" id="menu-icon__middle"></div>
         <div class="menu-icon__bottom" id="menu-icon__bottom"></div>
      </div>
   </div>
   <div class="logo-block" id="logoBlock">
      <a href="/">
         <div class="logo-block__img"></div>
      </a>
   </div>
</header>