<section class="posts__wrapper">
   <article class="post">
      <div class="post__img"><a href="" class="post__img-link"></a></div>
      <div class="post__title"><a href="" class="post__link">Being Atraveler in The World, Just Like A lion Without
            Beard</a></div>
      <div class="post__date">
         <div class="orange-color">Posted on </div>
         <div>August 17, 2017 - </div>
         <div class="orange-color">by </div>
         <div class="post__autor-img"></div>
         <div> Cool Man</div>
      </div>
      <div class="post__text">Lorem Ipsum passage, and going through the cites of the word in classical
         literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
         1.10.33
         of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
      </div>
      <div class="post__category">Category: <a href="">Travel</a></div>
      <div class="post__socials">
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
      </div>
   </article>
   <article class="post">
      <div class="post__img"><a href="" class="post__img-link"></a></div>
      <div class="post__title"><a href="" class="post__link">Being Atraveler in The World, Just Like A lion Without
            Beard</a></div>
      <div class="post__date">
         <span class="orange-color">Posted on </span>
         <span>August 17, 2017 - </span>
         <span class="orange-color">by </span>
         <div class="post__autor-img"></div>
         <span> Cool Man</span>
      </div>
      <div class="post__text">Lorem Ipsum passage, and going through the cites of the word in classical
         literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
         1.10.33
         of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
      </div>
      <div class="post__category">Category: <a href="">Travel</a></div>
      <div class="post__socials">
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
      </div>
   </article>
   <article class="post">
      <div class="post__img"><a href="" class="post__img-link"></a></div>
      <div class="post__title"><a href="" class="post__link">Being Atraveler in The World, Just Like A lion Without
            Beard</a></div>
      <div class="post__date">
         <span class="orange-color">Posted on </span>
         <span>August 17, 2017 - </span>
         <span class="orange-color">by </span>
         <div class="post__autor-img"></div>
         <span> Cool Man</span>
      </div>
      <div class="post__text">Lorem Ipsum passage, and going through the cites of the word in classical
         literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
         1.10.33
         of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
      </div>
      <div class="post__category">Category: <a href="">City</a></div>
      <div class="post__socials">
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
      </div>
   </article>
   <article class="post">
      <div class="post__img"><a href="" class="post__img-link"></a></div>
      <div class="post__title"><a href="" class="post__link">Being Atraveler in The World, Just Like A lion Without
            Beard</a></div>
      <div class="post__date">
         <span class="orange-color">Posted on </span>
         <span>August 17, 2017 - </span>
         <span class="orange-color">by </span>
         <div class="post__autor-img"></div>
         <span> Cool Man</span>
      </div>
      <div class="post__text">Lorem Ipsum passage, and going through the cites of the word in classical
         literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
         1.10.33
         of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
      </div>
      <div class="post__category">Category: <a href="">Communication</a></div>

      <div class="post__socials">
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
      </div>
   </article>
   <article class="post">
      <div class="post__img"><a href="" class="post__img-link"></a></div>
      <div class="post__title"><a href="" class="post__link">Being Atraveler in The World, Just Like A lion Without
            Beard</a></div>
      <div class="post__date">
         <span class="orange-color">Posted on </span>
         <span>August 17, 2017 - </span>
         <span class="orange-color">by </span>
         <div class="post__autor-img"></div>
         <span> Cool Man</span>
      </div>
      <div class="post__text">Lorem Ipsum passage, and going through the cites of the word in classical
         literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
         1.10.33
         of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
      </div>
      <div class="post__category">Category: <a href="">Local Food</a></div>
      <div class="post__socials">
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
         <a class="post__social-link" href=""></a>
      </div>
   </article>
   <div class="posts__nav">
      <a class="left-link disabled" href="">
         <div class="left-arrow"></div>
         <div>Newer Posts</div>
      </a>
      <a class="right-link" href="">
         <div>Older Posts</div>
         <div class="right-arrow"></div>
      </a>
   </div>
</section>